@if (this.authenticationService.isSignedIn()) {
  <div class="container">
    <header>
      <h1 class="logo">
        <span class="Edu">Edu<span class="Mate">Mate</span></span>
      </h1>
      <button title="sign out" class="sign-out" (click)="signout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
      <!-- sign out button -->
    </header>

    <div class="features">
      <a class="timeTable feature" href=""><i class="fa-solid fa-table"></i></a>
      <!-- timetable feature -->
      <a class="taskTracker feature" href="student/tasks"><i class="fa-solid fa-list-check"></i></a>
      <!-- task tracker feature -->
      <a class="sources feature" href=""><i class="fa-solid fa-layer-group"></i></a>
      <!-- material sources feature -->
      <a class="teamCreator feature" href=""><i class="fa-solid fa-people-group"></i></a>
      <!-- team creator feature -->
      <a class="faq feature" href="student/faq"><i class="fa-solid fa-clipboard-question"></i></a>
      <!-- FAQ feature -->
      <a class="map feature" href=""><i class="fa-solid fa-map-location-dot"></i></a>
      <!-- college map feature -->
      <a class="announcement feature" href=""><i class="fa-solid fa-scroll"></i></a>
      <!-- announcements feature -->
    </div>
  </div>

  <!--? background 1 -->
  <div class="background">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="content">
      <h1>{{ greeting() }}</h1>
      <h1>Welcome to EduMate</h1>
    </div>
  </div>
} @else {
  <a routerLink="/signin"><h1>You must sign in first</h1></a>
}