<span #overlay class="overlay"></span>

<nav class="navbar">
  <div class="nav-left">
    <button id="main-menu" class="main-menu" (click)="toggleSidebar($event)">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <h1 class="web-title">
      <a href="home">
        <span id="Edu">Edu</span>
        <span id="Mate">Mate</span>
      </a>
    </h1>
  </div>

  <div class="nav-right">
    <div class="profile-photo">
    </div>

    <div class="dropdown" [class.open]="dropdownOpen">
      <div class="dropdown-btn" (click)="toggleDropdown()">
        Profile
        <span class="arrow"></span>
      </div>

      <div class="dropdown-menu">
        <div class="dropdown-item" (click)="onProfileSelect('main')">Your Account</div>
        <div class="dropdown-item" (click)="onProfileSelect('switch')">Switch Account</div>
        <div class="dropdown-item" (click)="onProfileSelect('logout')">Sign Out</div>
      </div>
    </div>
  </div>
</nav>

<div #sidebar class="sidebar">
  <ul>
    <li>
      <a href="home"
      >
        <span>Home Page</span>
      </a>
    </li>
    <li>
      <a href="student/task"
      >
        <span>Task Tracker</span>
      </a>
    </li>
    <li>
      <a routerLink="/team-creator"
      >
        <span>Team Creator</span>
      </a>
    </li>
    <li>
      <a href=""
      >
        <span>Time Table</span>
      </a>
    </li>
    <li>
      <a href="signin"
      >
        <span>Map</span>
      </a>
    </li>
    <li>
      <a href="signup"
      >
        <span>Announcement</span>
      </a>
    </li>
    <li>
      <a href=""
      >
        <span>Material Sources</span>
      </a>
    </li>
    <li>
      <a href="student/faq"
      >
        <span>FAQ</span>
      </a>
    </li>
    <span class="separator"></span>
    <div style="color: #9E9E9E; font-weight: 600;">ADMIN/EDIT</div>
    <li><a href="">Edit Task Tracker</a></li>
    <li><a href="">Add Announcement</a></li>
  </ul>
</div>

<span class="background"></span>
