<app-navbar />

<div class="task-tracker">
    <div class="tasks-container">
      @for (studentTask of studentTasks(); track studentTask.id) {
        <table class="task-item">
          <tr>
            <td>Title:</td>
            <td>{{ studentTask.task.title }}</td>
          </tr>
          <tr>
            <td>Requirements:</td>
            <td>{{ studentTask.task.requirements }}</td>
          </tr>
          <tr>
            <td>Submission URL:</td>
            @if (studentTask.task.dueDate == null) {
              <td>N/A</td>
            } @else {
              <td>{{ studentTask.task.submissionUrl }}</td>
            }
          </tr>
          <tr>
            <td>Due Date:</td>
            @if (studentTask.task.dueDate == null) {
              <td>N/A</td>
            } @else {
              <td>{{ studentTask.task.dueDate.toLocaleString() }}</td>
            }
          </tr>
          <tr>
            <td>Notes:</td>
            <td>{{ studentTask.task.notes }}</td>
          </tr>
        </table>
      } @empty {
        <p>No tasks assigned.</p>
      }
    </div>

    <div class="task-view">
      Task Tracker
    </div>
</div>
