:host {
  --clr-primary: #bdbcbc;
  --clr-secondary: #3b82f6;
  --clr-accent: #ffffff;
  --clr-bg: #f9fafb;
  --clr-text: #111827;

  --font-heading: 'Merriweather', serif;
  --font-body: 'Open Sans', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-color: var(--clr-text); */
  background: linear-gradient(45deg,
                             #ffffff 10%,
                             #7b87ed 30%,
                             #3b82f6 70%,
                             #4032be 100%);
  background-size: 400% 400%;
  /*animation: gradient 20s ease infinite;*/
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* container styles */

.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  max-width: 800px;
  height: 70vh;
  margin: 0 auto;
  /* border: 5px solid var(--clr-primary); */
  border-radius: 20px;
  background-color: var(--clr-bg);
  overflow: hidden;
  box-shadow: 0px 0px 20px 3px hsla(222, 97%, 14%, 0.441), 0px 0px 8px 2px hsla(0, 2%, 63%, 0.299);
}

/* intro styles */
.intro {
  flex: 2;
  position: relative;
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -250px;
  background-clip: content-box;
  /* background-size: 100%; */
}
.intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background-color: rgba(15, 25, 54, 0.8); /* semi-transparent overlay */
  z-index: 0;
}
.intro > * {
  position: relative;
  z-index: 1;
  text-align: center;
}
.intro p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-bg);
  font-family: sans-serif;
}
.intro h1 {
  margin: auto;
}
.intro .Edu {
  font-family: var(--font-heading);
  font-size: 1.5em;
  color: rgb(249, 249, 249);
  margin-bottom: 10px;
}
.intro .Mate {
  font-family: var(--font-body);
  font-size: 1.5em;
  color: var(--clr-secondary);
  margin-bottom: 20px;
}

/* form styles */
form {
  font-size: 2rem;
  height: 100%;
  flex: 3;
  background-image: linear-gradient(to bottom right, var(--clr-primary), var(--clr-accent));
  display: flex;
  flex-direction: column;
  box-shadow: -12px 1px 30px rgb(0 0 0 / 50%);
  z-index: 1;
}
form h2 {
  text-align: center;
  font-family: Verdana, sans-serif;
  color: #032152;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  gap: 1px 1px;
  justify-content: space-around;
  padding: 0 15px;
  margin: 20px 5px;
  position: relative;
}
.form-group > * {
  flex: 1 1;
}
.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}

.error {
  grid-column: span 2;
  color: red;
  font-size: 17px;
  position: absolute;
  /*text-align: left;*/
  left: 240px;
  bottom: -30px;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes smoothAppear {
  0% {
    opacity: 0;
    transform: translateX(7px);
  }
  10% {
    opacity: 0.1;
    transform: translateX(-7px);
  }
  20% {
    opacity: 0.2;
    transform: translateX(7px);
  }
  30% {
    opacity: 0.3;
    transform: translateX(-7px);
  }
  40% {
    opacity: 0.4;
    transform: translateX(7px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-7px);
  }
  60% {
    opacity: 0.6;
    transform: translateX(7px);
  }
  70% {
    opacity: 0.7;
    transform: translateX(-3.5px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(3.5px);
  }
  90% {
    opacity: 0.9;
    transform: translateX(-1.5px);
  }
  100% {
    opacity: 1;
    transform: translateX(1.5px);
  }
}

.appear {
  animation: smoothAppear 0.8s ease forwards;
}

label {
  font-family: var(--font-body);
  color: #032152;
  font-weight: 700;
  align-self: center;
}

input {
  max-width: 200px;
  margin: 0.1px;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: 100;
  border-style: solid;
  border-width: 1.5px;
  border-color: #797979;
  border-radius: 0.5rem;
  box-shadow: #797979;
  outline: none;
  transition: ease 0.25s;
  color: rgb(53, 53, 53);
}

input:focus {
  border-color: black;
  border-width: 1.55px;
}

button {
  width: 30%;
  margin: 40px auto 30px auto;
  padding: 20px 30px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(51, 46, 201);
  background-color: #3b82f6;
  letter-spacing: 1.5px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 525;
  transition: all 0.3s ease;
  box-shadow: rgb(51, 46, 201) 0px 4px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;

}

button:hover {
  background-color: #1f72f8;
  box-shadow: rgb(59, 54, 215) 0px 1px 0px 0px;
  transform: translateY(4px);
}

button:active {
  background-color: #0062ff;
  transform: translateY(10px);
  transition: 200ms;
}

p.signup {
  text-align: center;
  margin-top: 20px;
  margin-bottom:20px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: var(--clr-text);
}
