<app-navbar />

<div class="faq">
  <div class="faq-categories">
    @for (category of faqCategories(); track category) {
      <div class="faq-category">
        {{ category }}
      </div>
    } 
    @empty { 
      <p>No FAQs.</p> 
    }
  </div>

  <div class="faqs-section">
    <div class="search-bar">
    <input type="text" name="FAQ-Search" id="search" placeholder="Search FAQs...">
  </div>

  <div class="faqs-container">
    
    @for (faq of faqs(); track faq.id) {
      <table class="faq-item" (click)="viewFaq(faq)">
        <tr>
          <td>{{ faq.question }}</td> 
        </tr> 
      </table> 
    } 
    @empty { 
      <p>No FAQs.</p> 
    } 
  </div>
  </div>
  

  <div class="faq-view">
    @if (selectedFaq()) {
      <h1>{{selectedFaq()?.question}}</h1>
      <span></span>
      <h2>{{selectedFaq()?.answer}}</h2>
    }
    @else {
      <div class="default">
        <h1 id="default-text">Find the answers of all your queries here</h1>
        <div id="default-image"></div>
      </div>
    } 
  </div> 
</div>

