@import 'tailwindcss';

:root {
  /* Brand Colors */
  --primary: #0066cc;
  --primary-light: #eaf4fc; /* also Used for light backgrounds */

  --secondary: #00b894;
  --secondary-light: #e0f2f1;

  --accent: #ffa726;
  --accent-light: #fff3e0;

  /* App Structure */
  --bg-main: #f0f6fc; /* Main page background */
  --bg-white: #ffffff; /* Card backgrounds */
  --border-color: #e0e0e0;

  /* Typography */
  --text-dark: #131313; /* Headings */
  --text-grey: #626262; /* Body text */
  --text-light: #9e9e9e; /* Meta text */

  /* Utility Colors */
  --danger: #d32f2f;
  --danger-bg: #fff3e0;

  /* Feature Card Colors (Backgrounds & Text) */
  --feat-purple-bg: #f3e5f5;
  --feat-purple-text: #9c27b0;
  --feat-green-bg: #e8f5e9;
  --feat-green-text: #4caf50;
  --feat-pink-bg: #ffebee;
  --feat-pink-text: #e91e63;
  --feat-lime-bg: #f9fbe7;
  --feat-lime-text: #cddc39;
}

/* Global Resets */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-main);
  color: var(--text-dark);
}

/* Typography Defaults */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

.filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
