<app-navbar />
<div class="main-wrap">
    <div class="profile">
        <div class="profile-photo">

        </div>

        <div class="info">
            <h1>{{ displayName() }}</h1>
            <h2>{{ displayID() }}</h2>
        </div>
    </div>

    <main class="features">
    <h2 class="title">Explore EduMate Features</h2>

    <div id="features" class="features-grid">

        <div class="feature-card">
        <i class="fas fa-question-circle"></i>
        <h3>FAQ</h3>
        <p>Find instant answers to your most common questions.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-calendar-alt"></i>
        <h3>Time Table</h3>
        <p>Track your classes and daily schedule with ease.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-tasks"></i>
        <h3>Task Tracker</h3>
        <p>Organize your assignments and stay productive.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-users"></i>
        <h3>Team Creator</h3>
        <p>Create groups and collaborate on projects smoothly.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-bullhorn"></i>
        <h3>Announcements</h3>
        <p>Stay updated with important news and notifications.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-book"></i>
        <h3>Material Sources</h3>
        <p>Access your study materials quickly in one place.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-map-marked-alt"></i>
        <h3>Map</h3>
        <p>Navigate the campus or your classrooms effortlessly.</p>
        </div>

    </div>
    </main>
</div>