<app-navbar />
<div class="main-wrap">
    <div class="profile">
        <div class="profile-photo">

        </div>

        <div class="info">
            <h1>{{ displayName() }}</h1>
            <h2>{{ displayID() }}</h2>
        </div>
    </div>

    <div class="features">
        <a class="timeTable feature" href="">
            <i class="fa-solid fa-table"></i>
            <br>
            <h1>Check your timetable</h1>
        </a>
        <!-- timetable feature -->
        <a class="taskTracker feature" href="student/tasks">
            <i class="fa-solid fa-list-check"></i>
            <br>
            <h1>Check your Assignments</h1>
        </a>
        <!-- task tracker feature -->
        <a class="sources feature" href="">
            <i class="fa-solid fa-layer-group"></i>
            <br>
            <h1>Check your timetable</h1>
        </a>
        <!-- material sources feature -->
        <a class="teamCreator feature" href="">
            <i class="fa-solid fa-people-group"></i>
            <br>
            <h1>Search for materials</h1>
        </a>
        <!-- team creator feature -->
        <a class="faq feature" href="student/faq">
            <i class="fa-solid fa-clipboard-question"></i>
            <br>
            <h1>Choose your team</h1>
        </a>
        <!-- FAQ feature -->
        <a class="map feature" href="">
            <i class="fa-solid fa-map-location-dot"></i>
            <br>
            <h1>Check the frequently asked questions</h1>
        </a>
        <!-- college map feature -->
        <a class="announcement feature" href="">
            <i class="fa-solid fa-scroll"></i>
            <br>
            <h1>Navigate through the map</h1>
        </a>
        <!-- announcements feature -->
    </div>
</div>