<app-navbar />
<div class="user-page">
    <div class="profile">

        <div class="back-display"></div>
        <div class="profile-photo"></div>

        <div class="info">
            <h1> Username </h1>
            <h2>23010228</h2>
        </div>

        <span></span>

        <div class="sub-info">
            <h1>ACADEMIC YEAR</h1>
            <h2>2024 / 2025</h2>
            <br>
            <h1>SEMESTER</h1>
            <h2>Spring Term</h2>
        </div>
    </div>

    <main class="features">
    <h2 class="title">Overview</h2>

    <div id="features" class="features-grid">

        <div class="feature-card">
        <i class="fas fa-question-circle"></i>
        <h3>FAQ</h3>
        <p>Find instant answers to your most common questions.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-calendar-alt"></i>
        <h3>Time Table</h3>
        <p>Track your classes and daily schedule with ease.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-tasks"></i>
        <h3>Task Tracker</h3>
        <p>Organize your assignments and stay productive.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-users"></i>
        <h3>Team Creator</h3>
        <p>Create groups and collaborate on projects smoothly.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-bullhorn"></i>
        <h3>Announcements</h3>
        <p>Stay updated with important news and notifications.</p>
        </div>

        <div class="feature-card">
        <i class="fas fa-book"></i>
        <h3>Material Sources</h3>
        <p>Access your study materials quickly in one place.</p>
        </div>

    </div>
    </main>
</div>